.backgroundColor{
    width: 100%;
    height: 150rem;
    background-color: #10375C;
    margin: 0rem auto;
}

.main-content{
    display: flex;
    padding-top: 20rem;
}

.content{
    flex-basis: 56%;
}

p{
    display: flex;
    padding-left: 15rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    color: #C9D2DA;
    font-family: Sora;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
}

h1{
    padding-left: 15rem;
    width: 130%;
    color: white;
    font-size: 70px;
    font-family: Sora;
    font-weight: 600;
    line-height: 80px;
    word-wrap: break-word
}

.gridView{
    display: grid;
    grid-template-columns: 60% auto;
}

.bookOnline{
    display: flex;
    background: #2E80CE;
    border-radius: 30px;
    height: 5rem;
    width: 15rem;
    color: #C9D2DA;
    font-size: 15px;
    align-items: center;
    padding-left: 30px;
}

.content2{
    display: flex;
    padding-left: 5rem;
    color: #C9D2DA;
    font-family: Sora;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: 50px;
}

.image{
    flex-basis: 44%;
    padding-top: 20rem;
}

.image1{
    width: 50%; 
    height: 100%; 
    border-radius: 6px
}

.image2{
    width: 35%; 
    height: 90%; 
    border-radius: 1px; 
    padding-bottom: 10%;
}

.Form{
    padding-top: 20rem;
}

h2{
    text-align: center;
    width: 100%;
    color: white;
    font-size: 50px;
    font-family: Sora;
    font-weight: 600;
    line-height: 80px;
    word-wrap: break-word
}

.textForm{
    color: white;
    font-family: Sora;   
    word-wrap: break-word;
}


